*/.idea/workspace.xml
.idea/vcs.xml
.idea
nose2-localhost-junit.xml
automation.log
project/__pycache__/
project/tests/__pycache__/
project/tests/rest/.pytest_cache/
project/tests/rest/__pycache__/
project/tests/rest/automation.log
project/utilities/__pycache__/
project/tests/ui/.pytest_cache/
